/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background: #fda942;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.btn-primary-link {
    background: #fda942;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.4rem 6rem;
    border: none;
    text-decoration: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.btn-white {
    background-color: #fff;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px
}

.btn-white-link {
    background-color: #fff;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    padding: 0.4rem 6rem;
}

.btn-primary-inverted {
    background-color: #fff;
    color: #fda942;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px
}

.btn-upvote {
    padding: 0.4rem 6rem;
    margin-right: 1rem;
}

.btn-delete {
    background: #E74C3C;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.4rem 4rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    margin-right: 1rem;
}

.link-btn {
    padding: 0.4rem 2rem;
}